form {
    max-width: 900px;
    margin: 30px auto;
    background: var(--background-color);
    text-align: left;
    padding: 40px;
    border: 1px solid var(--neutral-color);
    box-shadow: -10px 10px 0 var(--neutral-color);
}

label {
    color: var(--accent-color);
    display: inline-block;
    margin: 25px 0 20px 0;
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: 600px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    font-size: 24px;
    color: var(--neutral-color);
}

input,
select,
textarea {
    display: block;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    color: var(--contrast-color);
    font-size: 24px;
}

input[type="checkbox"] {
    display: inline-block;
    height: 40px;
    width: 20px;
    margin: 20px 10px 0 0;
    position: relative;
    top: 10px;
}

input,
select:focus {
    outline: none;
    outline-width: 0;
    box-shadow: none;
}

textarea:focus {
    outline-color: var(--accent-color);
    outline-width: 1px;
}

button {
    background: var(--accent-color);
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: var(--background-color);
    font-family: var(--paragraph-font);
    font-size: 28px;
    font-weight: 700px;
    border-radius: 20px;
}

.submit {
    text-align: center;
}

.error {
    color: var(--accent-color);
    margin-top: 10px;
    font-weight: bold;
}

.javascript-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: var(--paragraph-font);
    font-size: x-large;
    font-weight: 600;
    color: var(--accent-color);
}